<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Document</title>
    <style>
           body {
            padding: 0;
            margin: 0;
            width: 100vw;
            overflow-x: hidden;
            background-color: #F7F8FF;
            max-width: 400px;
            background-color: black;
            margin: auto;
        }

        @media (max-width:500px) {
            body{
                max-width: unset;
            }
        }
    </style>
</head>
<body>
    <div style="background-color: white;min-height: 100vh;">
  <div style="width: 100%;display: flex;flex-direction: row;justify-content: space-evenly;align-items: center;background: linear-gradient(90deg, #4782ff 0%, #59adff 100%);box-shadow: 5px 10px 8px 0px rgb(0 0 0 / 8%);color: white;">
      <i class="fa-solid fa-angle-left" onclick="window.history.back()"></i>
      <div style="width: 89%;display: flex;justify-content: center;">
             <p style="margin-bottom: 0%;font-size: 18px;margin-top: 4%;">About us</p>
      </div>
  </div>
  <div style="width: 100%;">
       <img src="/images/aboutus.png" alt="" style="width: 100%;height: auto;"/>
  </div>
  <div class="p-2" style="width: 100%;">
      <div style="border-bottom: 1px solid rgba(187, 187, 187, 0.226);width: 100%;height: 10vh;display: flex;flex-direction: row;justify-content: space-between;align-items: center;">
          <div style="width: 62%;display: flex;align-items: center;font-size: 15px;" onclick="window.location.href='/about/Confidentiality'">
                <i class="fas fa-file-alt mx-1" style="color: #4781ff;font-size: 22px;"></i>
                  Confidentiality Agreement
          </div>
          <div style="width: 6%;display: flex;align-items: center;color: #768096;">
              <i class="fas fa-angle-right"></i>
           </div>
      </div>
      <div style="border-bottom: 1px solid rgba(187, 187, 187, 0.226);width: 100%;height: 10vh;display: flex;flex-direction: row;justify-content: space-between;align-items: center;">
          <div style="width: 62%;height: 8vh;display: flex;align-items: center;font-size: 15px;" onclick="window.location.href='/about/riskAgreement'">
              <i class="fas fa-clipboard mx-1" style="color: #4781ff;font-size: 22px;"></i>
              Risk Disclosure Agreement
          </div>
          <div style="width: 6%;height: 8vh;display: flex;align-items: center;color: #768096;">
              <i class="fas fa-angle-right"></i>
         </div>
      </div>
  </div>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>