<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Document</title>
    <style>
         body {
            padding: 0;
            margin: 0;
            width: 100vw;
            overflow-x: hidden;
            background-color: #F7F8FF;
            max-width: 400px;
            background-color: black;
            margin: auto;
        }

        @media (max-width:500px) {
            body{
                max-width: unset;
            }
        }
    </style>
</head>
<body>
    <div style="background-color: white;min-height: 100vh;">
  <div  style="height: 8vh; width: 100%;display: flex;flex-direction: row;justify-content: space-evenly;align-items: center;background: white;box-shadow: 5px 10px 8px 0px rgb(0 0 0 / 8%);">
         <i class="fa-solid fa-angle-left" onclick="window.history.back()"></i>
         <div style="height: 8vh;width: 89%;display: flex;justify-content: center;">
           <p style="margin-bottom: 0%;font-size: 18px;margin-top: 4%;">Risk Disclosure Agreement</p>
        </div>
  </div>
  <div style="width: 100%;display: flex;flex-direction: column;justify-content: space-around;align-items: center;">
      <div style="height: 63vh;width: 93%;margin-top: 12px;">
          <p style="font-size: 12px;margin-bottom: 0%;">User Agreement</p>
          <p style="font-size: 12px;line-height: 13px;margin-bottom: 0%;">1. To avoid betting disputes, members must read the company's rules before entering the app. Once the player "I agree" By entering this company to bet, you will be considered to be in agreement with the company's User Agreement.</p>
          <div>--------------------------------------------------</div>
          <p style="font-size: 12px;line-height: 13px;margin-bottom: 0%;">2. It is the member's responsibility to ensure the confidentiality of their account and login information. Any online bets placed using your account number and member password will be considered valid. Please change your password from time to time. The company IS not responsible for any compensation for bets made with account and password.</p>
          <div>--------------------------------------------------</div>
          <p style="font-size: 12px;line-height: 13px;margin-bottom: 0%;">3. The company reserves the right to change this agreement or the game rules or confidentiality rules from time to time. The modified terms will take effect on the date specified after the change occurs, and the right to make final decisions on all disputes is reserved by the company.</p>
          <div>--------------------------------------------------</div>
          <p style="font-size: 12px;line-height: 13px;margin-bottom: 0%;">4. Users must be of legal age according to the laws of the country of residence to use an online casino or application. Online bets that have not been successfully submitted will be considered void.</p>
          <div>--------------------------------------------------</div>
          <p style="font-size: 12px;line-height: 13px;margin-bottom: 0%;">5. When a player is automatically or forcibly disconnected from the game before the game result is announced, it will not affect the game result.</p>
      </div>
  </div> 
    </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>